<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;
                                             charset=UTF-8">
    <title id="title">Weblogu</title>
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"
    />
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Weblogu</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add new</a></li>
            <li><a href="/list">Blog Entries</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit" id="content-main">
      </div>
    </div>
  </body>
</html>
