<form id="add" class="form-horizontal" action="/add" method="POST">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input class="input-xlarge" type="text" name="title"></input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="body">Body</label>
      <div class="controls">
        <textarea class="span6 input-xlarge" rows="8" name="body"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit"
                name="submit">Submit</button>
        <a class="btn btn-inverse" href="/" type="submit">Cancel</a>
      </div>
    </div>
  </fieldset>
</form>
